{
  "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
  "rules": {
    "no-console": "warn",
    "camelcase": [
      "error",
      {
        "allow": ["^demo_plugin"]
      }
    ]
  },
  "globals": {
    "demo_plugin": "readonly"
  }
}