.ddev

/vendor/
/vendor-prefixed/
/node_modules/
setup.sh

.idea
.vscode

build/

.budfiles/
/tests/cypress/screenshots/
/tests/cypress/videos/
/tests/setup/plugins
/tests/setup/vendor
bin/*
!bin/.gitkeep
/phpcs-report.xml

/lib/

# Generated language files (compiled in CI/CD pipeline)
languages/*.mo
languages/*.json
languages/*.php
