parameters:
    level: 6
    reportUnmatchedIgnoredErrors: false
    paths:
        - demo-plugin.php
        - src/
    ignoreErrors:
    scanDirectories:
        - vendor
        - vendor-prefixed
    bootstrapFiles:
        - constants.php
