name: Deploy

on:
  push:
    tags:
      - '*'

jobs:
  setup:
    if: github.repository != 'JUVOJustin/wordpress-plugin-boilerplate'
    uses: ./.github/workflows/setup.yml
    with:
      mode: 'prod'

  deploy:
    if: github.repository != 'JUVOJustin/wordpress-plugin-boilerplate'
    runs-on: ubuntu-latest
    needs: setup

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: PHP dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            vendor
            vendor-prefixed
          key: ${{ needs.setup.outputs.php-cache-key }}
          fail-on-cache-miss: true

      - name: Node dependencies cache
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            build
          key: ${{ needs.setup.outputs.node-cache-key }}
          fail-on-cache-miss: true

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          tools: wp-cli

      - name: Install latest version of dist-archive-command
        run: wp package install wp-cli/dist-archive-command:@stable

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Update Version in WordPress files
        run: |
          sed -i -E "s/(const PLUGIN_VERSION = ')[^']*(';)/\1${{ env.RELEASE_VERSION }}\2/" src/Demo_Plugin.php
          sed -i -E 's/([[:blank:]]*\*[[:blank:]]*Version:[[:blank:]]*).*/\1${{ env.RELEASE_VERSION }}/' demo-plugin.php
          sed -i -E 's/Stable tag: .*/Stable tag: ${{ env.RELEASE_VERSION }}/' README.txt

      - name: Build plugin
        run: |
          wp dist-archive . ./demo-plugin-${{ env.RELEASE_VERSION }}.zip --plugin-dirname=demo-plugin
          mkdir tmp-build
          unzip demo-plugin-${{ env.RELEASE_VERSION }}.zip -d tmp-build

      - name: Run plugin check
        uses: wordpress/plugin-check-action@v1.0.6
        with:
          build-dir: './tmp-build/demo-plugin'

      - name: Update resources
        uses: test-room-7/action-update-file@v1
        with:
          file-path: |
            src/Demo_Plugin.php
            demo-plugin.php
            README.txt
          commit-msg: Update Version in WordPress specific files
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Release
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          omitBodyDuringUpdate: true
          artifacts: "./demo-plugin-${{ env.RELEASE_VERSION }}.zip"