name: Test/Analyse

on:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    uses: ./.github/workflows/setup.yml
    with:
      mode: 'dev'

  test-js:
    runs-on: ubuntu-latest
    needs: setup
    
    steps:
      - uses: actions/checkout@v4

      - name: Restore Node dependencies cache
        uses: actions/cache/restore@v4
        with:
          path: |
            node_modules
            build
          key: ${{ needs.setup.outputs.node-cache-key }}
          fail-on-cache-miss: true

      - name: Lint JS
        run: npm run lint:js

      - name: Lint Style
        run: npm run lint:style

      - name: Build assets
        run: npm run build

  test-php:
    runs-on: ubuntu-latest
    needs: setup

    steps:
      - uses: actions/checkout@v4

      - name: Restore PHP dependencies cache
        uses: actions/cache/restore@v4
        with:
          path: |
            vendor
            vendor-prefixed
          key: ${{ needs.setup.outputs.php-cache-key }}
          fail-on-cache-miss: true

      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          tools: cs2pr

      - name: PHPSTAN
        run: composer run phpstan:ci

      - name: PHPCS
        id: phpcs
        continue-on-error: true
        run: composer run phpcs:ci

      - name: Show PHPCS results in PR
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: cs2pr ./phpcs-report.xml --graceful-warnings