name: Test/Analyse

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request_target:

jobs:
  call-install-deps:
    uses: ./.github/workflows/install-deps.yml
    with:
      mode: 'dev'
    secrets: inherit

  test:
    runs-on: ubuntu-latest
    needs: call-install-deps

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.0'
          tools: cs2pr

      - name: Load Cache
        uses: actions/cache@v4
        with:
          path: |
            vendor
            node_modules
            dist
          key: deps-dev-${{ hashFiles('composer.lock') }}-${{ hashFiles('package-lock.json') }}
          fail-on-cache-miss: true
        id: cache

      - name: Build assets
        run: |
          npm run prettier:fix
          npm run production

      - name: PHPSTAN
        run: composer run phpstan:ci

      - name: PHPCS
        id: phpcs
        continue-on-error: true
        run: composer run phpcs:ci

      - name: Show PHPCS results in PR
        if: ${{ always() && steps.phpcs.outcome == 'failure' }}
        run: cs2pr ./phpcs-report.xml --graceful-warnings

#      - name: Run integration Tests
#        run: |
#          npm run test:e2e